<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equip list</title>

    <style>
        table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            margin-right: 0px;
        }

        .pageList-item0 {
            border: 1px solid #DDDDDD;
            padding: 1px;
            margin: 1px;
            line-height:28px;
        }

        .pageList-item {
            border: 1px solid #DDDDDD;
            padding: 1px;
            margin: 1px;
            line-height:28px;
        }

        .pageList-item:hover{
            background:yellow;
            color:red;
            cursor:pointer;
        }

        .pageList-item >  a :hover{
            background:yellow;
            color:red;
            cursor:pointer;
        }

        .pageList-item >  button :hover{
            background:yellow;
            color:red;
            cursor:pointer;
        }


        .active {
            color: #C9302C;
            background:yellow;
            border: none;
        }

        a {
            cursor: pointer;
        }

    </style>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>

</head>
<body>

>> equipments management list
<div ng-app="myApp" ng-controller="equipCtrl" style="width:100%;">


    <div style="width:80%;margin:10px 0 20px 5px;">
        <span style="margin:0 0 0 80%;text-align:right;">
            <button type="button" class="btn btn-default"  onclick="Js_Add()" style="float:right;color:cornflowerblue">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>


    </div>

    <table style="width:80%;margin:10px 0 10px 5px;" class="table table-bordered">
        <tr>
            <th>rowIndex</th>
            <th>ID</th>
            <th>Model</th>
            <th>Brand</th>
            <th>manufactureDate</th>
            <th>operation</th>
        </tr>
        <tr ng-repeat="x in items | orderBy : 'brand'">
            <td>{{ $index + 1 }}</td>
            <td>{{ x.id }}</td>
            <td>{{ x.model }}</td>
            <td>{{ x.brand | uppercase }}</td>
            <td>{{ x.manufactureDate }}</td>
            <td style="text-align:center;">
                <button type="button" class="btn btn-default" style="color:mediumpurple" value="{{x.id}}" onclick="Js_Detail(this.value)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button type="button" class="btn btn-default"  style="color:cornflowerblue" value="{{x.id}}" onclick="Js_Edit(this.value)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button"  class="btn btn-default"  style="color:red"  ng-click="Js_Remove(x.id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </table>

    <div style="width:80%">
        <span style="margin:0 0 0 80%;text-align:right;float:right;">total records：{{ totalRecords }} </span>
        <!-- toDo  the page split function to be added at some moment. -->
        <!-- toDo  use lay ui plugin at some moment. -->
    </div>


    <div style="width:80%;margin:10px 0 20px 5px;text-align:right;">
        <footer class="footer" style="margin:0 0 0 80%;">
            <ul class="pageList">
                <li class="pageList-item" ng-click="firstPage()">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                </li>
                <li class="pageList-item" ng-click="previousPage()">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </li>
                <li class="pageList-item" ng-repeat="pages in pageList" ng-class="{'active': isActive(pages)}"  >
                    <a href="" ng-click="selectPage(pages)" style="vertical-align:middle;display: inline-block;">{{pages}}</a></li>
                <li class="pageList-item" ng-click="nextPage()">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </li>
                <li class="pageList-item" ng-click="lastPage()">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                </li>
                <li class="pageList-item0">total:{{pageNumbers}}</li>
            </ul>
        </footer>
    </div>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('equipCtrl', function($scope, $http) {
        $http.get("http://localhost:8000/equipments")
            .then(function successCallBack(result) {
                //console.log(result.data);
                $scope.equips = result.data;
                $scope.totalRecords = $scope.equips!=null ? $scope.equips.length:0;

                $scope.pageTotal = $scope.equips.length;
                $scope.pageSize = 5;
                $scope.pageNumbers = Math.ceil($scope.pageTotal / $scope.pageSize);
                $scope.newPages = $scope.pageNumbers > 5 ? 5 : $scope.pageNumbers;
                $scope.pageList = [];
                $scope.selPage = 1;

                // set data source of page split
                $scope.setData = function () {
                    $scope.items = $scope.equips.slice($scope.pageSize * ($scope.selPage - 1), ($scope.selPage * $scope.pageSize));
                }
                $scope.items = $scope.equips.slice(0, $scope.pageSize);

                //circle data
                for (var i = 0; i < $scope.pageNumbers; i++) {
                    $scope.pageList.push(i + 1)// show page num
                }

                //print current selected page index
                $scope.selectPage = function (page) {
                    if (page < 1 || page > $scope.pageNumbers) return;
                    if (page > 2) {
                        var newPageList = [];

                        for (var i = (page - 3); i < ((page + 2) > $scope.pageNumbers ? $scope.pageNumbers : (page + 2)); i++) {
                            newPageList.push(i + 1);
                        }
                        $scope.pageList = newPageList;
                    }

                    $scope.selPage = page;
                    $scope.setData();
                    $scope.isActive(page);
                }
                $scope.isActive = function (page) {

                    return $scope.selPage == page
                }

                // click prev page
                $scope.previousPage = function () {
                    $scope.selectPage($scope.selPage - 1)
                }
                //click next page
                $scope.nextPage = function () {
                    $scope.selectPage($scope.selPage + 1)
                }

                //click first page
                $scope.firstPage = function () {
                    $scope.selectPage(1);
                    $scope.pageList = [];
                    //circle data
                    for (var i = 0; i < $scope.pageNumbers; i++) {
                        $scope.pageList.push(i + 1)// show page num
                    }
                }

                // click end page
                $scope.lastPage = function () {
                    $scope.selectPage($scope.pageNumbers)
                }


            }, function errorCallBack(response) {
                alert(response);
            });



        $scope.Js_Remove=function(idObj){
            //console.log(idObj);
            var idStr = idObj;

            var msg="Are you sure to detele this item with id ( "+ idStr +" ) ?";
            if(!JS_Confirm(msg)){
                return;
            }

           $http({
                method:'delete',
                url:'http://localhost:8000/equipments/'+ idStr,
                //url:'http://localhost:8000/equipments/0000',
            }).then(function(resp){
                if(resp!=null && resp.status==200){
                    alert('delete success.');

                    $http.get("http://localhost:8000/equipments")
                        .then(function (result) {
                            $scope.equips = result.data;
                            $scope.totalRecords = $scope.equips!=null ? $scope.equips.length:0;
                        });
                }
            },function error(msg){
                //console.log(msg);
                if(msg!=null && msg.statusText!=null){
                    alert('delete failed:' + msg.statusText);
                }else{
                    alert('delete failed.');
                }
            });
        }


    });
</script>


<script src="../js/customerizeCommon.js"></script>

<script type="text/javascript">
    function Js_Detail(obj){
        window.open("detail.html?id=" + obj);
    }

    function Js_Edit(obj){
        location.href="edit.html?id=" + obj;
    }

    function Js_Add(){
        location.href="edit.html?id=0";
    };

    /*function Js_Delete(obj){
        var msg='Are you sure to delete this item with id ( '+ obj +' ) ? ';
        if(JS_Confirm(msg)){
            console.log('going to delete ' + obj);
        }
    }*/

</script>


<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>